/**Выравнивание элементов в табличной верстке**/
table[tableMakeup=true] td[cell_type=content] {vertical-align:top;}
/**table[tableMakeup=true] [doPadding=true] td[first] {padding-left:20px;}*/ /*временно закомментировано, ломается верстка в ЗУ */
table[tableMakeup=true] td[cell_type=label] {vertical-align:text-top;}
table[tableMakeup=true] td[cell_type=label]{vertical-align: baseline;}
table[tableMakeup=true] td[wrapp=true] > * {width: 100%;}
table[tableMakeup=true] td[wrapp=true] > * > select {width:100%;}
table[tableMakeup=true] td[wrapp=true] > * > input {width: 100%;}
table[tableMakeup=true] td[wrapp=true] > * > textarea {width: 100%; }
table[tableMakeup=true] {border-collapse: collapse;}

/**Позволяет задать выравнивание содержимого по верху в panelGroupLayout**/
.groupLayoutTopAlignment > tbody > tr > td { vertical-align: top; }

.treeExpandDisabled table td div > span[_afrdisimg="1"] { display:none; }

.innerDivStretchWidth > div > div > div {width:100%;}

.componentHidden{position: absolute; visibility: hidden; }

.visibleListButton {
	-tr-rule-ref: selector(".AFFormControlContentBorder:alias");
	border-left: none;
	height: 28px;
	width: 28px;
	cursor: default;
	display: block;
	background: #fff center center no-repeat url('/component/img_metro/dropdown_arrow.png');
	outline: none;
}

/** TODO переделать на сущности дизайна */
.inputFieldInToolbar .visibleListButton {
	height: 18px;
}

.insertButton {
 	margin-left: 8px;
	height: 16px;
	width: 16px;
	cursor: default;
	display: block;
	background: center center no-repeat url("/widgets/img_metro/document_add.png");
}

.removeButton {
	margin-left: 8px;
	height: 16px;
	width: 16px;
	cursor: default;
	display: block;
	background: center center no-repeat url("/widgets/img_metro/document_delete.png");
}

.inputField { width:100%; }
.borderTable {border-width:thin;}

/**Стиль всплывающей подсказки (commonUtils tooltip)**/
#jsTooltipDiv {border:1px; border-color: rgb(100,100,100); border-style: solid; border-radius:8px; background-color: rgb(230,230,230); font-size: 14px; font-family: 'Times New Roman'; padding: 2px;}



/**Стиль иннструмента для выбора прямоугольной области**/
.chooseRectangleOuter{background-image: url("/http/images/shadow15.png"); background-repeat: repeat; cursor: default;}
.chooseRectangleCell{}
.chooseRectangeBlock{background-image: none; cursor: move; border-width: 3px; border-color: rgb(18, 0, 114); border-style: outset dashed; border-bottom-style: dashed; border-top-style: dashed;
	margin: -1px; -moz-user-select: none; -webkit-user-select: none; -webkit-user-drag: none; -khtml-user-select:none; position:relative;}
.chooseRectangleArea{-moz-user-select: none; -webkit-user-select: none; -webkit-user-drag: none; -khtml-user-select:none;}
/**Маркеры изменения размера по углам**/
.chooseRectangleResizeMarkerLT{position:absolute; left:0; top:0; margin-left:-5px; margin-top:-5px; cursor: nw-resize;}
.chooseRectangleResizeMarkerRT{position:absolute; right:0; top:0; margin-right:-5px; margin-top:-5px; cursor: ne-resize;}
.chooseRectangleResizeMarkerLB{position:absolute; left:0; bottom:0; margin-left:-5px; margin-bottom:-5px; cursor: sw-resize;}
.chooseRectangleResizeMarkerRB{position:absolute; right:0; bottom:0; margin-right:-5px; margin-bottom:-5px; cursor: se-resize;}

.chooseRectangleResizeMarkerLT, .chooseRectangleResizeMarkerRT, .chooseRectangleResizeMarkerLB, .chooseRectangleResizeMarkerRB {width:10px; height: 10px; border-radius: 5px; background-color: Silver;}
/**Кнопки для подтверждения и отмены**/
.chooseRectangleDone, .chooseRectangleCancel{width: 16px; height: 16px; border-style: solid; border-width: 1px; border-color: Silver; border-top-style: none; border-bottom-left-radius:3px; border-bottom-right-radius:3px;
	position: absolute; bottom: 0; margin-bottom: -17px; cursor: pointer; background-repeat: no-repeat;}
.chooseRectangleDone{right: 37px; background-image: url("/http/images/ok1616.png");}
.chooseRectangleCancel{right: 16px; background-image: url("/http/images/stop1616.png");}

/**Стиль автодополнения по умолчанию**/
/*Поле для ввода в автодополнении может иметь псевдоклассы match, nonmatch (сопоставлен с объектом/не сопоставлен с объектом)*/
.geoAutosuggestField, .geoAutosuggestFieldMatch, .geoAutosuggestFieldNonmatch {
	-tr-rule-ref: selector(".AFFormControlContentBorder:alias");
	-tr-rule-ref: selector(".AFDefaultFont:alias");
	border-right: none;
	padding: 0 8px;
	height: 30px;
	width:100%;
	box-sizing: border-box;
	outline: none;
}
.geoAutosuggestFieldMatch {
	color: #000000;
}
.geoAutosuggestFieldNonmatch {
	color: #FF0000;
}
/** TODO переделать на сущности дизайна */
.inputFieldInToolbar .geoAutosuggestField,
.inputFieldInToolbar .geoAutosuggestFieldMatch,
.inputFieldInToolbar .geoAutosuggestFieldNonmatch {
	height: 20px;
}

.geoTextAreaNoResizeNoWrap > textarea { resize: none; white-space: pre; }
.splitterInnerTableStretch > table { height:100%; }
.stretchColumnFilterInput > tbody > tr:first-child > td:first-child { width: 100%; padding-right: 47px; }
.stretchColumnSecondFilterInput > tbody > tr:first-child > td:first-child + td { width: 100%; padding-right: 8px; }
.stretchSecondFilterInput > td:first-child + td { width: 100%; padding-left: 9px !important; padding-right: 10px !important; }
.stretchSecondFilterASInput > td:first-child + td { width: 100%; padding-left: 11px !important; padding-top: 3px !important; padding-right: 0px !important; }
.stretchColumnFilterInputDate > tbody > tr:first-child > td:first-child { width: 100%; padding-right: 30px; }

/**Выделение выбранных строк таблицы и древовидной таблицы**/
af|table::data-row:selected:inactive af|column::data-cell, af|table::data-row:selected:inactive af|column::data-cell,
af|tree::data-row:selected:inactive af|tree::node-stamp-text, af|tree::data-row:selected af|tree::node-stamp-text{ background-color:lightgray;}



/********** START Metro карта **********/
#mapDiv_main {
	border: 1px solid #e3e4e8;
}
/********** END Metro карта **********/

/********** START ProcessCommandButton **********/
.processIcon {
	display: inline-block;
}

.processIcon-countBadge {
	position: absolute;
	width: 16px;
	font-size: 11px;
	opacity: 1;
	margin-top: 1px;
	text-align: center;
}

.af_document .af_commandButton span + .processIcon {
  margin-left: 5px;
}
/********** END ProcessCommandButton **********/

body.wait-cursor * {
	cursor: wait !important;
}