/*Стили тегов по умолчанию*/




body {
    -tr-rule-ref: selector(".MetroBodyBackground:alias");
    color: var(--bodyBackColor);
    margin: 0;
    padding: 0;
    direction: ltr;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 1.154;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto


}

h1 {
    font-size: 18px;
    color: #222;
    margin: 20px 0 5px
}

h1, h2 {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

h2 {
    font-size: 16px;
    color: #2b2f33
}

h2, h3 {
    margin: 20px 0 15px
}

h3 {
    font-size: 13px;
    color: #828282;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

h4 {
    border-bottom: 1px solid #e8ebee;
    color: #45688e;
    font-size: 0.923em;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0 0 3px
}

h4 .fl_r, h4 span {
    font-weight: 400
}

h4 .fl_r, h4 span, .subheader, h4.subheader {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.subheader, h4.subheader {
    color: #222;
    font-weight: 500;
    margin: 18px 0 12px;
    padding: 0;
    border-bottom: none;
    font-size: inherit
}

.h2_add {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-size: 13px
}

p {
    line-height: 1.462;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    color: #2a5885;
    text-decoration: none;
    cursor: pointer
}

a b, b a {
    color: #42648b
}

a:hover {
    text-decoration: underline
}

b, strong {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    border: 0;
    color: transparent
}

.login_header {
    font-size: 26px;
    text-align: center;
    margin-bottom: 22px;
	color: #fff;
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #e7e8ec; /* Цвет линии для остальных браузеров */
    background-color: #e7e8ec; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}

/*Элементы управления*/
/**Сепаратор для панели инструментов**/
.separatorH{width:1px; background-color: rgb(82,82,82); height: 15px; margin-left: 8px; margin-right: 8px;}
.menuBar{text-align: left;}
.menuItem{}
.treeTable{background-color:#f7f7e7;}

/*Стили ввода-вывода*/
.columnCenterAlign70 {text-align: center; vertical-align: top; width: 70%;}

.inputText {font-family:Arial, sans-serif; font-size:10pt; text-align: left; width:210px;}

/*Таблица без заголовка*/
.tableNoColumnHeaders af|column::column-header-cell {display: none}
