
:root {
   --bodyBgColor: #000000;
   --bodyTextColor: #ffffff;
}

body {
    background-color: var(--bodyBgColor);
    color: var(--bodyTextColor);
    margin:  0px;
    padding: 0px;
    outline: hidden;
}

* { box-sizing: border-box;}


.sabMarkBox {
  position: absolute;
  width: 200px;
  border: 1px solid #808080;
  z-index: 1;
}
.sabMarkBox-0 {top: 60px; height: 65px;}
.sabMarkBox-1 {top: 125px; height: 19px;}
.sabMarkBox-2 {top: 144px; height: 19px;}
.sabMarkBox-3 {top: 163px; height: 19px;}
.sabMarkBox-4 {top: 182px; height: 19px;}
.sabMarkBox-5 {top: 201px; height: 19px;}
.sabMarkBox-6 {top: 220px; height: 19px;}
.sabMarkBox-7 {top: 239px; height: 19px;}
.sabMarkBox-8 {top: 258px; height: 19px;}
.sabMarkBox-9 {top: 277px; height: 19px;}
.sabMarkBox-10 {top: 296px; height: 19px;}
.sabMarkBox-11 {top: 315px; height: 19px;}
.sabMarkBox-12 {top: 334px; height: 19px;}
.sabMarkBox-13 {top: 353px; height: 19px;}
.sabMarkBox-14 {top: 372px; height: 19px;}
.sabMarkBox-15 {top: 391px; height: 19px;}
.sabMarkBox-16 {top: 410px; height: 19px;}
.sabMarkBox-17 {top: 429px; height: 19px;}
.sabMarkBox-18 {top: 448px; height: 19px;}
.sabMarkBox-19 {top: 467px; height: 19px;}
.sabMarkBox-20 {top: 486px; height: 19px;}
.sabMarkBox-21 {top: 505px; height: 19px;}
.sabMarkBox-22 {top: 524px; height: 19px;}
.sabMarkBox-23 {top: 543px; height: 19px;}
.sabMarkBox-24 {top: 562px; height: 19px;}
.sabMarkBox-25 {top: 581px; height: 65px;}

.sabFlexVBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100px;
  height: 586px;
  border: 1px solid yellow;
  transition: all 50ms ease-in-out;
}

.sabLiteraInFlex {
  position: relative;
  left: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 13px;
  border: 1px solid red;
  transition: all 50ms ease-in-out;
}

.sabLiteraInFlex:hover {
  background-color: #384952;
}

