
:root {
   --bodyBgColor: #000000;
   --bodyTextColor: #ffffff;
}

body {
    background-color: var(--bodyBgColor);
    color: var(--bodyTextColor);
    margin:  0px;
    padding: 0px;
    outline: hidden;
}

* { box-sizing: border-box;}


.sabMarkBox {
  position: absolute;
  width: 200px;
  border: 1px solid #808080;
  z-index: 1;
}
.sabMarkBox-0 {top: 60px; height: 65px;}
.sabMarkBox-1 {top: 125px; height: 19px;}
.sabMarkBox-2 {top: 144px; height: 19px;}
.sabMarkBox-3 {top: 163px; height: 19px;}
.sabMarkBox-4 {top: 182px; height: 19px;}
.sabMarkBox-5 {top: 201px; height: 19px;}
.sabMarkBox-6 {top: 220px; height: 19px;}
.sabMarkBox-7 {top: 239px; height: 19px;}
.sabMarkBox-8 {top: 258px; height: 19px;}
.sabMarkBox-9 {top: 277px; height: 19px;}
.sabMarkBox-10 {top: 296px; height: 19px;}
.sabMarkBox-11 {top: 315px; height: 19px;}
.sabMarkBox-12 {top: 334px; height: 19px;}
.sabMarkBox-13 {top: 353px; height: 19px;}
.sabMarkBox-14 {top: 372px; height: 19px;}
.sabMarkBox-15 {top: 391px; height: 19px;}
.sabMarkBox-16 {top: 410px; height: 19px;}
.sabMarkBox-17 {top: 429px; height: 19px;}
.sabMarkBox-18 {top: 448px; height: 19px;}
.sabMarkBox-19 {top: 467px; height: 19px;}
.sabMarkBox-20 {top: 486px; height: 19px;}
.sabMarkBox-21 {top: 505px; height: 19px;}
.sabMarkBox-22 {top: 524px; height: 19px;}
.sabMarkBox-23 {top: 543px; height: 19px;}
.sabMarkBox-24 {top: 562px; height: 19px;}
.sabMarkBox-25 {top: 581px; height: 65px;}

.sabFlexVBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 0px;
  top: 60px;
  width: 100px;
  height: 586px;
  border: 1px solid yellow;
  transition: all 50ms ease-in-out;
}

.sabLiteraInFlex {
  position: relative;
  left: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 13px;
  border: 1px solid red;
  transition: all 50ms ease-in-out;
}

.sabLiteraInFlex:hover {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-0:hover ~ .sabFlexVBox .sabLiteraInFlex-0 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-0:hover ~ .sabFlexVBox .sabLiteraInFlex--1 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-0:hover ~ .sabFlexVBox .sabLiteraInFlex-1 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-1:hover ~ .sabFlexVBox .sabLiteraInFlex-1 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-1:hover ~ .sabFlexVBox .sabLiteraInFlex-0 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-1:hover ~ .sabFlexVBox .sabLiteraInFlex-2 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-2:hover ~ .sabFlexVBox .sabLiteraInFlex-2 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-2:hover ~ .sabFlexVBox .sabLiteraInFlex-1 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-2:hover ~ .sabFlexVBox .sabLiteraInFlex-3 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-3:hover ~ .sabFlexVBox .sabLiteraInFlex-3 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-3:hover ~ .sabFlexVBox .sabLiteraInFlex-2 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-3:hover ~ .sabFlexVBox .sabLiteraInFlex-4 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-4:hover ~ .sabFlexVBox .sabLiteraInFlex-4 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-4:hover ~ .sabFlexVBox .sabLiteraInFlex-3 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-4:hover ~ .sabFlexVBox .sabLiteraInFlex-5 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-5:hover ~ .sabFlexVBox .sabLiteraInFlex-5 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-5:hover ~ .sabFlexVBox .sabLiteraInFlex-4 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-5:hover ~ .sabFlexVBox .sabLiteraInFlex-6 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-6:hover ~ .sabFlexVBox .sabLiteraInFlex-6 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-6:hover ~ .sabFlexVBox .sabLiteraInFlex-5 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-6:hover ~ .sabFlexVBox .sabLiteraInFlex-7 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-7:hover ~ .sabFlexVBox .sabLiteraInFlex-7 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-7:hover ~ .sabFlexVBox .sabLiteraInFlex-6 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-7:hover ~ .sabFlexVBox .sabLiteraInFlex-8 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-8:hover ~ .sabFlexVBox .sabLiteraInFlex-8 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-8:hover ~ .sabFlexVBox .sabLiteraInFlex-7 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-8:hover ~ .sabFlexVBox .sabLiteraInFlex-9 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-9:hover ~ .sabFlexVBox .sabLiteraInFlex-9 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-9:hover ~ .sabFlexVBox .sabLiteraInFlex-8 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-9:hover ~ .sabFlexVBox .sabLiteraInFlex-10 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-10:hover ~ .sabFlexVBox .sabLiteraInFlex-10 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-10:hover ~ .sabFlexVBox .sabLiteraInFlex-9 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-10:hover ~ .sabFlexVBox .sabLiteraInFlex-11 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-11:hover ~ .sabFlexVBox .sabLiteraInFlex-11 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-11:hover ~ .sabFlexVBox .sabLiteraInFlex-10 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-11:hover ~ .sabFlexVBox .sabLiteraInFlex-12 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-12:hover ~ .sabFlexVBox .sabLiteraInFlex-12 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-12:hover ~ .sabFlexVBox .sabLiteraInFlex-11 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-12:hover ~ .sabFlexVBox .sabLiteraInFlex-13 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-13:hover ~ .sabFlexVBox .sabLiteraInFlex-13 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-13:hover ~ .sabFlexVBox .sabLiteraInFlex-12 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-13:hover ~ .sabFlexVBox .sabLiteraInFlex-14 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-14:hover ~ .sabFlexVBox .sabLiteraInFlex-14 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-14:hover ~ .sabFlexVBox .sabLiteraInFlex-13 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-14:hover ~ .sabFlexVBox .sabLiteraInFlex-15 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-15:hover ~ .sabFlexVBox .sabLiteraInFlex-15 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-15:hover ~ .sabFlexVBox .sabLiteraInFlex-14 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-15:hover ~ .sabFlexVBox .sabLiteraInFlex-16 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-16:hover ~ .sabFlexVBox .sabLiteraInFlex-16 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-16:hover ~ .sabFlexVBox .sabLiteraInFlex-15 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-16:hover ~ .sabFlexVBox .sabLiteraInFlex-17 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-17:hover ~ .sabFlexVBox .sabLiteraInFlex-17 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-17:hover ~ .sabFlexVBox .sabLiteraInFlex-16 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-17:hover ~ .sabFlexVBox .sabLiteraInFlex-18 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-18:hover ~ .sabFlexVBox .sabLiteraInFlex-18 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-18:hover ~ .sabFlexVBox .sabLiteraInFlex-17 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-18:hover ~ .sabFlexVBox .sabLiteraInFlex-19 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-19:hover ~ .sabFlexVBox .sabLiteraInFlex-19 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-19:hover ~ .sabFlexVBox .sabLiteraInFlex-18 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-19:hover ~ .sabFlexVBox .sabLiteraInFlex-20 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-20:hover ~ .sabFlexVBox .sabLiteraInFlex-20 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-20:hover ~ .sabFlexVBox .sabLiteraInFlex-19 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-20:hover ~ .sabFlexVBox .sabLiteraInFlex-21 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-21:hover ~ .sabFlexVBox .sabLiteraInFlex-21 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-21:hover ~ .sabFlexVBox .sabLiteraInFlex-20 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-21:hover ~ .sabFlexVBox .sabLiteraInFlex-22 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-22:hover ~ .sabFlexVBox .sabLiteraInFlex-22 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-22:hover ~ .sabFlexVBox .sabLiteraInFlex-21 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-22:hover ~ .sabFlexVBox .sabLiteraInFlex-23 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-23:hover ~ .sabFlexVBox .sabLiteraInFlex-23 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-23:hover ~ .sabFlexVBox .sabLiteraInFlex-22 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-23:hover ~ .sabFlexVBox .sabLiteraInFlex-24 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-24:hover ~ .sabFlexVBox .sabLiteraInFlex-24 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-24:hover ~ .sabFlexVBox .sabLiteraInFlex-23 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-24:hover ~ .sabFlexVBox .sabLiteraInFlex-25 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-25:hover ~ .sabFlexVBox .sabLiteraInFlex-25 {
  width: 65px;
  height: 65px;
  font-size: 45px;
  left: 60px;
  z-index: 2;
}

.sabMarkBox-25:hover ~ .sabFlexVBox .sabLiteraInFlex-24 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

.sabMarkBox-25:hover ~ .sabFlexVBox .sabLiteraInFlex-26 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  left: 50px;
}

